<div id="content" class="line-middle" ng-controller="registerCtrl">
    <div align="center">
        <form method="post" ng-submit="register()">
            <div class="panel padding" style="width: 450px;text-align: left;">
                <div class="text-center">
                    <br>
                    <h2><strong>欢迎注册使用&nbsp;惠购物</strong></h2></div>
                <div style="padding:30px;">
                    <div class="form-group" ng-show="errorPassword">
                        <div class="alert alert-red">
                            <span class="close rotate-hover"></span><strong>警告：</strong>两次密码输入不一致！
                        </div>
                    </div>
                    <div class="form-group" ng-show="errorCode">
                        <div class="alert alert-red">
                            <span class="close rotate-hover"></span><strong>警告：</strong>验证码输入错误！
                        </div>
                    </div>
                    <div class="form-group" ng-show="errorRegister">
                        <div class="alert alert-red">
                            <span class="close rotate-hover"></span><strong>警告：</strong>注册失败，用户名已存在！
                        </div>
                    </div>
                    <div class="form-group" ng-show="successRegister">
                        <div class="alert alert-green">
                            <span class="close rotate-hover"></span><strong>提示：</strong>注册成功，自动跳转登录界面！
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input" name="username_" maxlength="50" ng-model="user.username"
                                   data-validate="required:请填写用户名/账号,username:请输入英文字母开头的字母、下划线、数字,length#<50:字数在0-50个"
                                   placeholder="英文字母开头的字母、下划线、数字">
                            <span class="icon icon-user"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input" name="password" ng-model="user.password"
                                   placeholder="密码" maxlength="32" data-validate="required:请填写密码,length#>=8:密码长度不符合要求"/>
                            <span class="icon icon-key"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input" name="repeatPassword" ng-model="user.repeatPassword"
                                   placeholder="确认密码" maxlength="32"
                                   data-validate="required:请填写确认新密码,length#>=8:密码长度不符合要求"/>
                            <span class="icon icon-key"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" name="passcode" ng-model="user.code" placeholder="填写右侧的验证码"
                                   data-validate="required:请填写右侧的验证码"/>
                            <img src="http://www.7xiwang.com/WebService/ImageValidateCode?code={{code}}" width="80"
                                 height="32" class="passcode"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <button class="hao-button button button-block bg-main text-big">立即注册</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field text-center">
                            <p class="text-muted text-center"><a class="dialogs" href="javascript:;" data-toggle="click" data-target="#forgetDialog" data-mask="1" data-width="240px">
                                <small>忘记密码了？</small>
                            </a> | <a class="" href="#!/login">已有帐号，去登录</a>
                            </p>
                        </div>
                    </div>
                    <div class="text-right text-small text-gray padding-top"><a class="text-gray" href="#!/main">惠购物</a>
                        版权所有
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="lib/pintuer.js" charset="utf8"></script>